@font-face {
  font-family: 'texto'; 
  src: url('Gotham\ Ultra.otf') format('truetype');


}
@font-face {
  font-family: 'titulo'; 
  src: url('consola.ttf') format('truetype');}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FFFFFF; 
  color: #111827;            
  line-height: 1.6;
}


header {
  width: 100%;
  color: #FFFFFF;             
  text-align: center;
  padding: 2.5px 0;           
  font-size: 1.8em;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 0;
  display: block;
  background-color: #000000;  
}


footer {
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  border-radius: 0;
  margin-top: 40px;
  background-color: #000000; 
  
}
#rodape{
text-align: center;




}

body.light header {
  background-color: #000000; 
}

body.light hoover {
  background-color: #000000; 
}

body.dark header {
  background-color: #22C55E; /
}

/* ---------- IDs específicos ---------- */

#por {
  position:relative;
  left: 550px;
}
#tech{
color:#FFFFFF;




}
/* ---------- Títulos ---------- */
h1, h2 {
  color: #0c3b18;        
  margin-bottom: 4px;  
  margin-left: 80px; 
  font-family: Arial, Helvetica, sans-serif;
  
}

#rsrs {

  position:relative;
  left: 550px;


}


/* ---------- Parágrafos ---------- */
p, p1 {
  font-size: 1.1em;
  max-width: 900px;
  margin: 0 auto 10px auto; /* aproxima do título */
  text-align: justify;
  font-family: 'texto';
}
#rodape{
position:relative;
  left: 50px;



}
#beneficios{
 position:relative;
  left: 50px;




}

/* ---------- Imagens ---------- */
img {
  display: block;
  margin: 25px auto;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

/* ---------- Botão Modo Escuro ---------- */
.mode-toggle {
  position:absolute;
  top:0px;
  left:15px;
  background: none;       /* remove a cor de fundo */
  border: none;           /* remove a borda */
  padding: 0;             /* remove espaçamento extra */
  cursor: pointer;
}


.mode-toggle img {
width: 30px;  
  height: 30px;




}
.login{
position:absolute;
top:25px;
right:15px;
width: 50px;
height:25px;
background-color: #129c1d;
border-radius: 5px;
}
/* ---------- Modo Claro ---------- */
body.light {
  background-color: #FFFFFF;
  color: #111827;
}

body.light h1, body.light h2 {
  color: #124199;
}

body.light footer {
  color: white;
}
body.light .login{
background-color: #1c56c4;




}
/* ---------- Modo Escuro ---------- */
body.dark {
  background-color: #000000;
  color: #ffffff;
}

body.dark h1, body.dark h2 {
  color: #0da83c;
}

body.dark footer {
  background-color: #2c2c2c;
  color: white;
}
body.dark header {
background-color: #2c2c2c;

}